.about {
    margin-top: 5%;
    transform: translateX(+50%);
    border-style: double;
    border-radius: 15px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: #00ff00;
    width: 50%;


    .image {
        margin: 5%;
        background-color: red;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        width: 30vw;
        height: 20vw;
        margin-right: 5%;
    }

    .my-text {
        margin: 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    h1 {
        margin-bottom: 10px;
    }

    p {
        margin: 0;
    }


}