.footer {
    background-color: black;
    color: #00ff00;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    left: 0;

}

.hr-footer {
    background-color: #00ff00;
    height: 1px;
    border: none;
}