.navigation {

    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    nav {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
        color: #00ff00;
        margin-left: 5%;
        margin-right: 5%;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;

        }

        .nav-container {

            margin-right: 9%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;

            .menu-icon {
                display: none;
                cursor: pointer;
                color: #00ff00;
                font-size: 1.5rem;
                margin-right: 1rem;
            }

            .nav-links {
                list-style: none;
                display: flex;

                &.show {
                    display: block;
                }

                li {
                    font-size: 1.25rem;
                    transition: all 0.3s ease;
                    padding: 10px 30px;
                    margin-right: 1rem;
                    border-style: double;
                    border-radius: 15px;
                    border-color: black;

                    a {
                        text-decoration: none;
                        color: #00ff00;
                    }

                    &:hover {
                        border-color: #00ff00;
                    }
                }
            }
        }

        .retro-mode {

            font-size: 1.25rem;
            transition: all 0.3s ease;
            padding: 10px 30px;
            margin-right: 1rem;
            border-radius: 15px;
            border-color: black;
            background-color: #00ff00;
            list-style: none;


            &:hover {
                background-color: black;
                color: #00ff00;
                border-color: #00ff00;

            }

        }
    }

    .hr-navigation {
        background-color: #00ff00;
        height: 1px;
        border: none;
    }

    @media only screen and (max-width: 768px) {

        nav {
            margin-top: 0.7rem;
            margin-bottom: 1rem;

            .nav-container .menu-icon {
                display: flex;
                margin-right: 0%;
                justify-content: end;
                flex-grow: inherit;
            }

            .nav-container .nav-links {
                display: none;
                position: absolute;
                top: 1.7rem;
                right: 0;
                background-color: black;
                padding: 1rem;
                border-radius: 15px;
                border-color: #00ff00;
                border-style: inherit;
            }

        }

    }

}

.classic {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    nav {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
        color: black;
        margin-left: 5%;
        margin-right: 5%;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;

        }

        .nav-container {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;

            .menu-icon {
                display: none;
                cursor: pointer;
                font-size: 1.5rem;
                margin-right: 1rem;
            }

            .nav-links {
                list-style: none;
                display: flex;

                &.show {
                    display: block;
                }

                li {
                    font-size: 1.25rem;
                    transition: all 0.3s ease;
                    padding: 10px 30px;
                    margin-right: 1rem;
                    border-style: double;
                    border-radius: 15px;
                    border-color: black;

                    a {
                        text-decoration: none;
                        color: black;

                    }

                }
            }
        }
    }

    .hr-navigation {
        background-color: #00ff00;
        height: 1px;
        border: none;
    }

    @media only screen and (max-width: 768px) {

        nav {
            margin-top: 0.7rem;
            margin-bottom: 1rem;

            .nav-container .menu-icon {
                display: flex;
                margin-right: 0%;
                justify-content: end;
                flex-grow: inherit;
            }

            .nav-container .nav-links {
                display: none;
                position: absolute;
                top: 1.7rem;
                right: 0;
                background-color: black;
                padding: 1rem;
                border-radius: 15px;
                border-color: #00ff00;
                border-style: inherit;
            }

        }

    }

}